/*
li,ul {
    background: rgb(111, 236, 178);
    /*width: 100%; 
    padding:10;
    top: 10;

}


.teste {
    background-color: skyblue;
  }
  
#postagens{
    background: rgb(255, 0, 0);
    width: 100%;
    padding:150;
}
*/