#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: rgb(234, 214, 214);
  margin-top: 5px;
}

/* Ajusta as propriedades da logo como tamanho*/
.logo {
  height: 32px;
}

/* colocar a imagem do logo centralizada na div*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10px;
}